@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@300;500;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&family=Roboto:wght@100;300;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url(../svg/background-about.jpg);
    color: #010101;
    max-height: 100vh;
}

/* Style untuk artikel */
.navigasi {
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: .9rem;
}

.navigasi a {
    color: #8b4513;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.navigasi a:last-child{
    color: #010101;
}

.container{
    max-width: 50%;
    max-height: 85vh;
    margin: 50px auto;
    background-color: #deb887;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: hidden;
}

.container:hover{
    overflow-y: auto;
}

.container .article-box h1{
    padding: 10px 20px;
    font-size: 2.8rem;
    font-weight: 600;
    color: #010101;
}

.container .article-box .article p, h3{
    padding: 5px 20px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #252424;
}

.container .article-box .article p:last-of-type{
    margin-bottom: 5px;
}

.container .article-box .article h3{
    font-size: 1.8rem;
    font-weight: 500;
}

.back-icon {
    position: absolute;
    bottom: 10px;
    left: 50px;
    font-weight: 600;
    font-size: 1rem;
    color: #000000;
}
/* Style untuk artikel selesai */

@media (max-width : 450px){
    html{
        font-size: 70%;
    }

    .container{
        max-width: 80%;
    }
}


